x-node-common: &node-common
  build:
    context: .
    ssh: [default]
  environment:
    RELEASE_DAEMON: "false"
  restart: unless-stopped
  network_mode: "host"

services:
  node1:
    <<: *node-common
    command:
      - /node/jamixir/jamixir
      - run
      - --port=10001
      - --keys=/node/keys/0.json
      - --genesis=/node/genesis.json
      - --telemetry=localhost:9000
      - --rpc
      - --log=debug

  node2:
    <<: *node-common
    command:
      - /node/jamixir/jamixir
      - run
      - --port=10002
      - --keys=/node/keys/1.json
      - --telemetry=localhost:9000

  node3:
    <<: *node-common
    command:
      - /node/jamixir/jamixir
      - run
      - --port=10003
      - --keys=/node/keys/2.json
      - --telemetry=localhost:9000

  node4:
    <<: *node-common
    command:
      - /node/jamixir/jamixir
      - run
      - --port=10004
      - --keys=/node/keys/3.json
      - --telemetry=localhost:9000

  node5:
    <<: *node-common
    command:
      - /node/jamixir/jamixir
      - run
      - --port=10005
      - --keys=/node/keys/4.json
      - --telemetry=localhost:9000

  node6:
    <<: *node-common
    command:
      - /node/jamixir/jamixir
      - run
      - --port=10006
      - --keys=/node/keys/5.json
      - --telemetry=localhost:9000

  polkajam:
    build:
      context: .
      dockerfile: Dockerfile.polkajam
    network_mode: "host"
    restart: unless-stopped
    stdin_open: true
    tty: true
