x-node-common: &node-common
  build:
    context: .
    ssh: [default]
  environment:
    RELEASE_DAEMON: "false"
  restart: unless-stopped
  network_mode: "host"

services:
  node1:
    <<: *node-common
    command:
      - /node/jamixir/jamixir
      - run
      - --port=40000
      - --keys=/node/keys/0.json
      - --chainspec=/node/polkajam_chainspec.json
      - --telemetry=localhost:9000
      - --rpc
      - --log=debug

  node2:
    <<: *node-common
    command:
      - /node/jamixir/jamixir
      - run
      - --port=40001
      - --keys=/node/keys/1.json
      - --chainspec=/node/polkajam_chainspec.json
      - --telemetry=localhost:9000

  node3:
    <<: *node-common
    command:
      - /node/jamixir/jamixir
      - run
      - --port=40002
      - --keys=/node/keys/2.json
      - --chainspec=/node/polkajam_chainspec.json
      - --telemetry=localhost:9000

  node4:
    <<: *node-common
    command:
      - /node/jamixir/jamixir
      - run
      - --port=40003
      - --keys=/node/keys/3.json
      - --chainspec=/node/polkajam_chainspec.json
      - --telemetry=localhost:9000

  node5:
    <<: *node-common
    command:
      - /node/jamixir/jamixir
      - run
      - --port=40004
      - --keys=/node/keys/4.json
      - --chainspec=/node/polkajam_chainspec.json
      - --telemetry=localhost:9000

  node6:
    <<: *node-common
    command:
      - /node/jamixir/jamixir
      - run
      - --port=40005
      - --keys=/node/keys/5.json
      - --chainspec=/node/polkajam_chainspec.json
      - --telemetry=localhost:9000

  polkajam:
    build:
      context: .
      dockerfile: Dockerfile.polkajam
    network_mode: "host"
    restart: unless-stopped
    stdin_open: true
    tty: true
