x-node-common: &node-common
  build:
    context: .
    ssh: [default]
  environment:
    RELEASE_DAEMON: "false"
  restart: unless-stopped
  network_mode: "host"

services:
  node1:
    <<: *node-common
    command:
      - /node/jamixir/jamixir
      - run
      - --port=10001
      - --keys=/node/keys/0.json
      - --genesis=/node/genesis.json

  node2:
    <<: *node-common
    command:
      - /node/jamixir/jamixir
      - run
      - --port=10002
      - --keys=/node/keys/1.json

  node3:
    <<: *node-common
    command:
      - /node/jamixir/jamixir
      - run
      - --port=10003
      - --keys=/node/keys/2.json

  node4:
    <<: *node-common
    command:
      - /node/jamixir/jamixir
      - run
      - --port=10004
      - --keys=/node/keys/3.json

  node5:
    <<: *node-common
    command:
      - /node/jamixir/jamixir
      - run
      - --port=10005
      - --keys=/node/keys/4.json

  node6:
    <<: *node-common
    command:
      - /node/jamixir/jamixir
      - run
      - --port=10006
      - --keys=/node/keys/5.json
