
services:
  node1:
    build:
      context: .
      ssh: [default]
    environment:
      RELEASE_DAEMON: "false"
      MIX_ENV: "tiny"
      JAMIXIR_KEYS_FILE: "/node/keys/0.json"
      JAMIXIR_GENESIS_FILE: "/node/genesis/genesis.json"
      JAMIXIR_PORT: 9900
    command: ["/node/jamixir/bin/jamixir", "start"]
    restart: unless-stopped
    expose:
      - "9900"
    ports:
      - "9901:9900"
    networks:
      jamnet:
        ipv6_address: fd00::10

  node2:
    build:
      context: .
      ssh: [default]
    environment:
      RELEASE_DAEMON: "false"
      MIX_ENV: "tiny"
      JAMIXIR_KEYS_FILE: "/node/keys/1.json"
      JAMIXIR_GENESIS_FILE: "/node/genesis/genesis.json"
      JAMIXIR_PORT: 9900
    command: ["/node/jamixir/bin/jamixir", "start"]
    restart: unless-stopped
    expose:
      - "9900"
    ports:
      - "9902:9900"
    networks:
      jamnet:
        ipv6_address: fd00::11

  node3:
    build:
      context: .
      ssh: [default]
    environment:
      RELEASE_DAEMON: "false"
      MIX_ENV: "tiny"
      JAMIXIR_KEYS_FILE: "/node/keys/2.json"
      JAMIXIR_GENESIS_FILE: "/node/genesis/genesis.json"
      JAMIXIR_PORT: 9900
    command: ["/node/jamixir/bin/jamixir", "start"]
    restart: unless-stopped
    expose:
      - "9900"
    ports:
      - "9903:9900"
    networks:
      jamnet:
        ipv6_address: fd00::12

  node4:
    build:
      context: .
      ssh: [default]
    environment:
      RELEASE_DAEMON: "false"
      MIX_ENV: "tiny"
      JAMIXIR_KEYS_FILE: "/node/keys/3.json"
      JAMIXIR_GENESIS_FILE: "/node/genesis/genesis.json"
      JAMIXIR_PORT: 9900
    command: ["/node/jamixir/bin/jamixir", "start"]
    restart: unless-stopped
    expose:
      - "9900"
    ports:
      - "9904:9900"
    networks:
      jamnet:
        ipv6_address: fd00::13

  node5:
    build:
      context: .
      ssh: [default]
    environment:
      RELEASE_DAEMON: "false"
      MIX_ENV: "tiny"
      JAMIXIR_KEYS_FILE: "/node/keys/4.json"
      JAMIXIR_GENESIS_FILE: "/node/genesis/genesis.json"
      JAMIXIR_PORT: 9900
    command: ["/node/jamixir/bin/jamixir", "start"]
    restart: unless-stopped
    expose:
      - "9900"
    ports:
      - "9905:9900"
    networks:
      jamnet:
        ipv6_address: fd00::14

  node6:
    build:
      context: .
      ssh: [default]
    environment:
      RELEASE_DAEMON: "false"
      MIX_ENV: "tiny"
      JAMIXIR_KEYS_FILE: "/node/keys/5.json"
      JAMIXIR_GENESIS_FILE: "/node/genesis/genesis.json"
      JAMIXIR_PORT: 9900
    command: ["/node/jamixir/bin/jamixir", "start"]
    restart: unless-stopped
    expose:
      - "9900"
    ports:
      - "9906:9900"
    networks:
      jamnet:
        ipv6_address: fd00::15

networks:
  jamnet:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: fd00::/64
