[package]
name = "scale"
version = "0.1.0"
authors = []
edition = "2021"

[lib]
name = "scale"
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
rustler = "0.34.0"
parity-scale-codec = "3.0" # Or your preferred version
